.App {
    display: flex;
    justify-content: center;
    background-color: #e3e9ff;
    min-height: 100vh;
}

.todo-container {
    margin-top: 90px;
    width: 30%;
}

.todo-header {
    text-align: center;
    background-color: #af7eeb;
    padding: 10px 0;
}

.todo-header>h2 {
    font-size: 20px;
    color: white;
}

.todo-list-box {
    min-height: 400px;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    position: relative;
}

.todo-info-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-btn {
    position: absolute;
    bottom: -20px;
    left: 200px;
    padding: 20px 30px;
    border-radius: 14px;
    background-color: #af7eeb;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    transition: background-color .3s;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #a154ff;
}

.input-item {
    width: 95%;
    border: none;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: 1px solid grey;
    padding: 7px;
    margin-bottom: 15px;
}

.icon-btn {
    height: 30px;
    width: 30px;
    text-align: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
}

.icon-btn:hover {
    background-color: #af7eeb;
    color: white;
}